provider/kubernetes/*   @BerryOrg/test @cmrberry @berrydanielt
provider/rancher/*      @BerryOrg/test2
provider/marathon/*     @BerryOrg/lots-of-teams
provider/docker/*       @BerryOrg/more-teams
docs/user-guide/kubernetes.md     @BerryOrg/test
docs/user-guide/marathon.md       @BerryOrg/lots-of-teams
docs/user-guide/swarm.md          @BerryOrg/more-teams
docs/user-guide/swarm-mode.md     @BerryOrg/more-teams
*.md                    @BerryOrg/core 
